body{
     width: 1250px;
     height: 860px;
     margin: 0 auto;
}


table{
        border-style: 1px solid black;
        width: 850px;
        height: 850px;
        display: block;
        margin: 0 auto;
	border-color: gray;
	background-color: white;
        margin-bottom: 100px;
}

th{
	background-color: rgb(0, 153, 255);
	border-style: 10px solid rgb(0, 15, 26);
	text-align: center;
	text-decoration: underline;
}

td,tr,th{
       
        height:70px;
        width: 80px;
        border-collapse: collapse;
        border: 2px solid black;
}

#col{
	background-color: #339966;


}
